@import url("https://fonts.googleapis.com/css?family=Hind");

* {
  font-family: "Hind", sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #eeeeee;
  max-width: 100%;
}

html {
  max-width: 100%;
}

#app {
  max-width: 100%;
}
